{
    "MYSQL_USER": "root", 
    "MYSQL_PASSWD": "123456", 
    "DEFAULT_TIEBA": "仙五前修改", 
    "MYSQL_DBNAME": {
        "仙五前修改": "Pal5Q_Diy"
    }, 
    "MYSQL_HOST": "localhost",
    "MYSQL_SSL_CA_PATH": "/path/to/ca/ca.pem",
    "MYSQL_USE_SSL": "False",
    "MYSQL_SSL_CHECK_HOSTNAME": "False"
}
